<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>
    <div class="start-game">
        <div class="start-game--victor hidden"></div>
        <button class="start-game--button">New Game</button>
    </div>
    <section class="game-board">
        <div class="game-board--box" data-row="0" data-col="0"></div>
        <div class="game-board--box" data-row="0" data-col="1"></div>
        <div class="game-board--box" data-row="0" data-col="2"></div>
        <div class="game-board--box" data-row="1" data-col="0"></div>
        <div class="game-board--box" data-row="1" data-col="1"></div>
        <div class="game-board--box" data-row="1" data-col="2"></div>
        <div class="game-board--box" data-row="2" data-col="0"></div>
        <div class="game-board--box" data-row="2" data-col="1"></div>
        <div class="game-board--box" data-row="2" data-col="2"></div>
    </section>

    <script src="global-libs/action/packages/latest/action.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/libs/logic.js"></script>
    <script src="scripts/libs/game-keeper.js"></script>
  </body>
</html>