<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>
    <div>Hello World, this is the <%= title %> project</div>

    <script src="scripts/test.js"></script>
  </body>
</html>