<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>
    <div>Hello World, this is the <%= title %> project</div>

    <script src="global-libs/action/packages/latest/action.min.js"></script>
    <script src="global-libs/seldom/dist/selDOM.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/libs/logic.js"></script>
  </body>
</html>