<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2 class="currentActorName"></h2>
    <img id="actorImage" src="">
    <button id="changeActors">Change Actors!</button>
    <script type="text/javascript" src="/javascripts/zepto.min.js"></script>
    <script type="text/javascript" src="/javascripts/action.js"></script>
    <script type="text/javascript" src="/javascripts/built/app.js"></script>
  </body>
</html>