html, body{
    height: 100%;
    margin:0;
    font-family: sans-serif;
}

.game-board{
    background: rgb(255,255,255);
    display: block;
    width: 100%;
    height: 100%;
}

.game-board--box{
    height: 30%;
    width: 30%;
    background: rgb(0,250,255);
    display: block;
    float: left;
    margin-left: 2%;
    margin-top: 2%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 4em;
}

.start-game{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background: rgba(0,0,0,0.5);
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

.start-game--button{
    background: rgb(0,250,255);
    color: rgb(30,30,30);
    padding:.5em 1em;
    font-size: 2em;
    border:none;
}

.start-game--victor{
    background: rgb(0,250,255);
    color: rgb(30,30,30);
    padding:.5em 1em;
    margin-bottom: 1em;

}

.hidden{
    display: none;
}